.btn-space-bottom {
    margin-bottom: 5px;
}

.bg-pink {
    background-color: #eb60a5!important;
}

.bg-black {
    background-color: #000000!important;
}

.btn-pink {
    background-color: transparent;
    border-color: transparent;
  }

.text-pink {
    color:#eb60a5!important;
}

.btn-blue {
    background-color: transparent;
    border-color: transparent;
}

.text-blue {
    color:#2ab0d1!important;
}

.btn {
    display: inline-block;
    font-weight: 640;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.border-blue {
    border-color: #80e5e5!important;
}

.border {
    border: 6px solid #80e5e5!important;
}
section#menu1-0.menu.cid-qTkzRZLJNu nav.navbar {
    background: linear-gradient(to right, #80e5e5 0%, #ff99cc 80%);
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.btn-pink:hover {
    box-shadow: 0 4px 16px rgba(235, 96, 165);
    transition: all 0.2s ease;
}

.btn.btn-pink:focus {
  background-color: rgba(235, 96, 166, 0.26) !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

h1.mbr-section-title.mbr-bold.pb-3.mbr-fonts-style.display-1.border {
    padding-bottom: 0rem !important;
    padding-top: 1rem;
    padding-left: 1rem;
}

div.row.justify-content-md {
    justify-content: flex-end !important;
    margin-top: -10%;
}

p.mbr-text.pb-3.mbr-fonts-style.display-2 {
    text-align: left;
    margin-left: 1rem;
}

h1.mbr-section-title.mbr-bold.pb-3.mbr-fonts-style.display-1.border p {
    text-align: left;
}

div.container.align-center {
    margin-right: 10%;
}

h1.mbr-section-title.mbr-bold.pb-3.mbr-fonts-style.display-1.border {
    line-height: 1.5;
}

/*div.mbr-white.col-md-6{
    max-width: 47%;
}*/

a.nav-link.link.text-primary.display-2 {
    font-weight: 500;
    color: #108a9e !important;
}

div.media-container-row div.card.col-12.col-md-6 div.card-img{
    background-color: #d3699df0;
}

div.card-box.align-center{
    background: linear-gradient(#d3699df0 40%, transparent 100%);
}

#features8-8 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    padding-right: 60px;
}

#features8-8 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    padding-left: 60px;
}

nav.navbar.navbar-expand{
    background: linear-gradient(to bottom, #545454 0%, #212121 100%);
    min-height: auto;
}

section.menu:nth-child(3) > nav:nth-child(1) > ul:nth-child(1){
    margin-left: 15%;
}

ul.navbar-nav:nth-child(3){
    margin-right: 15%;
}

div.modal-dialog div.modal-content{
    background: linear-gradient(to bottom, #ff99cc 0%, #80e5e5 45%);
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.05);
    font-size: 1.8rem;
    color: #545454;
    height: auto;
    font-family: initial;
}

div.form-group input.form-control{
    font-family: initial;
}

div.modal-body a.btn.btn-danger{
    background-color: #545454 !important;
    border-color: #545454 !important;
    letter-spacing: 2px;
    font-size: 1.2rem;
    display: block;
    font-weight: 400;
    
}

div.modal-content div.modal-header img{
    height: 4rem;
    margin-left: auto;
}

div.form-group i.fas{
    margin-left: 20px;
}

ul.navbar-nav li.nav-item.active a.nav-link{
    color: #80e5e5;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.1rem;
}

section.menu.cid-qTkzRZLJNu.sticky-top{
    line-height: 0.8;
    z-index: 1041;
}

div.modal-dialog div#contenedor.modal-content{
    line-height: 1.5;
}

ul.navbar-nav:nth-child(2) > li:nth-child(1) > a:nth-child(1){
    color: #d0b5d5;
}

ul.navbar-nav:nth-child(3) > li:nth-child(1) > a:nth-child(1){
    color:#ff99cc;
}

section#header2-1.cid-qTkA127IK8.mbr-fullscreen.mbr-parallax-background{
    background-image: url(../assets/images/intro-1753x873.jpg)!important;
}

section#features8-8.features8.cid-rTxlD7heZ9.mbr-parallax-background{
    background-image: url(../assets/images/chapi.jpeg)!important;
}

/*Profile*/
body section#perfil.mbr-fullscreen{
    background: linear-gradient(45deg, #ff99cc, #108a9e);
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
div.profile-img div.file.btn.btn-lg.btn-primary {
    position: relative;
    overflow: hidden;
    margin-top: -20% !important;
    width: 70%;
    border: none !important;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8 !important;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #108a9e;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 500;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:500;
    border: none;
    border-radius: 0px !important;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #108a9e;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 14px;
    color: #818182;
    font-weight: 500;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 500;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 500;
}
.profile-tab p{
    font-weight: 500;
    color: #2ab0d1;
}

/*Formulario*/
div.form-group.row div.col-sm-10{
    padding-left: 20px;
}

input#exampleFormControlFile1.form-control-file{
    font-size: smaller;
}

.fa-location-arrow{
    margin-top: 15px;
}

.fa-phone{
    margin-top: 15px;
}

div#bodi.modal-body{
    padding-top: 30px;
}

div.form-group label{
    font-size: 1.3rem;
}

div#bodi.modal-body div.form-row{
    margin-right: 20px;
    margin-left: 10px;
}

select.form-control{
    font-family: initial;
}

div.form-group.row i.fas.prefix.grey-text{
    margin-left: 40px;
}

div#dial.modal-dialog{
    max-width: 650px;
}

body section#buscador.mbr-fullscreen{
    background: linear-gradient(45deg, #ff99cc, #108a9e);
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

/*section#buscador.mbr-fullscreen div.container{
    margin-top: -25%;
}*/

div.col-lg-2 {
    color:#fff;
    font-family: initial;
    font-size: 1.3rem;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

div.col-md {
    color:#fff;
    font-family: initial;
    font-size: 1.3rem;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

div.container button.btn.btn-info{
background-color: #ff99cc !important;
border-color: #ff99cc !important;
letter-spacing: 3px;
font-size: 1.5rem;
font-family: initial;
}

div.form-group.col-md select.form-control{
    padding: 0px;
    min-height: 3em;
}

div.card.h-100{
    background-color: #fff;
    font-family: initial;
}

div.card.h-100 div p{
    text-align: left;
}

h4.card-title{
    margin-bottom: 1rem;
}

div.card.h-100 div.card-body{
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0rem;
    padding-left: 1.25rem;
}

div.card.h-100 div.card-body p{
    font-size: 1.1rem;
}

div.card.h-100 div.card-footer p{
    margin-bottom: auto;
}

/*profile*/
div#profile.tab-pane.fade.active.show div.container.form-group{
    padding-left: inherit;
}
